body{font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background:white;
}
h1,h3,h2{font-family: 'Poppins', sans-serif;
font-weight: 600;}

.container{display:flex;
flex-direction: column;

justify-content: center;
align-items: center;
}

.huddle{height:20px;
width:100px;
margin-bottom:50px;
margin-left: 20px;
margin-top: 20px;
}
.header{width: 100% ;
height:500px;
background: hsl(193,100%,96%);
margin-bottom: 100px;
background-image: url(desktop.png);
padding:20px;
animation: anim 12s linear 6s infinite alternate backwards running;
}
.nested{display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.content{
 
  height:380px;
  width:500px;
  margin:10px;
}
.cont{
margin-left: 20px;

}
.cont p{color: black;}
.imag{
  
  height: 400px;
  width:250px;
  flex-grow: 1;
}
img{height:100%;
  width:100%;
  
}
.words{
  margin-top:60px;
}
p{line-height: 1.5em;
  color: hsl(208,11%,55%);
}
.section1{width: auto;
height:270px;
flex-grow: 1;
justify-content: center;
border:1px solid white;
margin: 50px;
margin-top: auto;
margin-bottom: auto;
}

.section2 img{padding:20px;
  margin-top:auto;
  margin-bottom: auto;
}

.section2{width:700px;
height:270px;
margin: 50px;
}
 
.grow{width: 95%;
height:370px;
border-radius: 10px;
margin-bottom: 50px;
border: 2px solid gray;
border-style: hidden;
background:#fff;
box-sizing: border-box;
box-shadow: 0 4px 10px 2px rgba(0,0,0,0.1);
}

.flow{width: 95%;
height:370px;
border: 2px solid gray;
border-style: hidden;
background:#fff;
border-radius: 10px;
box-sizing: border-box;
box-shadow: 0 4px 10px 2px rgba(0,0,0,0.1);
}

.user{width: 95%;
height:370px;
border: 2px solid gray;
border-style: hidden;
background:#fff;
border-radius: 10px;
margin-top:50px;
margin-bottom: 200px;
box-sizing: border-box;
box-shadow: 0 4px 10px 2px rgba(0,0,0,0.1);

}

.ready{width: 65%;
height:200px;
border: 2px solid gray;
border-style: hidden;
background:#fff;
border-radius: 10px;
position: absolute;
top: 1950px;
left:180px;
box-sizing: border-box;
box-shadow: 0 4px 10px 3px rgba(0,0,0,0.1);
}

.footer{
width: 100%;
padding: 20px;
height:450px;
background:hsl(192,100%,9%);
color: white;
}
.one{width:490px;
margin-top: 70px;
margin-left: 20px;
}
.one p img{width: 20px;
height: 30px;
float: left;
margin-bottom: 30px;
margin-right: 20px;
}
.btn1,.btn2,.btn{border: 2px  solid  white;
height: 25px;
margin-top: 10px;
border-radius: 35px;
width: 220px;
padding: 10px;
margin-left: 0px;
text-align: center;
line-height: 18px;
background: hsl(322,100%,66%) ;
color:white;}
.btn2{margin-right: auto;
margin-left: auto;
  
}
.btn{background:hsl(208,11%,55%);
float: right;
clear: both;
 margin: 35px;
 margin-top: 20px;
width: 150px;
height: 25px;

}
a{text-decoration: none;
color:#fff;}
.btn1:hover,.btn2:hover,.btn:hover{cursor:hand;
height: 30px;
background:#f1b6f0 ;}

.ready h2{text-align: center;}

@keyframes anim{
  0%{background: #008aac;}
  25%{background:#548b51cf;}
  50%{background: #ff00fc;}
  100%{background: #00ccff;}
}

@media(max-width:600px){
  .container{
    flex-wrap: wrap;
   
  }
  body{
  font-size: 12px;
  
}

.huddle{height:10px;
width:60px;
margin-bottom:20px;
margin-left: 100px;
margin-top: 10px;

}
.btn{background:hsl(208,11%,55%);
position: absolute;
top:20px;
right:10px;
 margin: 20px;
 margin-top: 10px;
width: 80px;
height: 8px;
line-height: 6px;
border-radius: 16px;
font-size: 8px;
}

.header{width: 300px ;
height:650px;
margin-bottom: 70px;
background-image: url(mobile.png);
padding:5px;

}
.imag{
  
  height: 200px;
  width:250px;
  
}

 .nested {
   flex-direction: column;
   justify-content: center;
   align-self: center;
 }
 .cont{
   
margin: 100px;
text-align: center;
}

.words{
  margin-top:0px;
  
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
  .section img{float: left;
  display: block;
  }
  .section1{
    width: 250px;
height:70px;
order: 1;
margin-top: 5px;
margin-bottom: 20px;

}
.section2{width:240px;
height:150px;

}

  .grow{
 width: 270px;
height:450px;
border-radius: 6px;

margin-bottom: 50px;


border: 2px solid gray;
border-style: hidden;
background:#fff;
box-sizing: border-box;
box-shadow: 0 4px 10px 2px rgba(0,0,0,0.1);
}

.flow{
  width: 270px;
height:450px;;
border: 2px solid gray;
border-style: hidden;
background:#fff;
border-radius: 10px;
box-sizing: border-box;
box-shadow: 0 4px 10px 2px rgba(0,0,0,0.1);
}

.user{
 width: 270px;
height:450px;
border: 2px solid gray;
border-style: hidden;
background:#fff;
border-radius: 10px;
margin-top:40px;
margin-bottom: 50px;


}

.ready{width: 300px;
height:100px;
border: 2px solid gray;
border-style: hidden;
background:#fff;
border-radius: 10px;
position: relative;
top:40px;
left:5px;

}
.ready h2{font-size: small;
}
.one{width: auto;
margin-top: 70px;
margin-left: 20px;
}
}
/*.color{background:hsl(193,100%,96%);
background
background:grayish b hsl(208,11%,55%);
 pink:hsl(322,100%,66%) 
 ...
 headings:poppins: weight 600 
 body:open sans :weight :400,700 :F:18px

  font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}*/
